#btn_cu {

	background-color: #3a3a3a;
	border-color: #3a3a3a;
}


.btn-primary:hover{

	background-color: #3a3a3a;
	border-color: #3a3a3a;
}

.btn-primary{

	background-color: #3a3a3a;
	border-color: #3a3a3a;

}

